*.sw[ponm]
.DS_Store

bin/deploy
bin/llc
bin/ruby
bin/sim

data/4.3
data/5.0
data/5.1
data/6.0

doc/.yardoc
doc/*.html
doc/docset

lib/motion/version.rb

pkg/*.pkg

rubymotion-head.tgz

sample/*/build
sample/*/.repl_history

test/test/vendor/code/build-iPhoneSimulator/
test/test/vendor/code/code.bridgesupport
