*.sw[ponm]
.DS_Store

s3config.yaml

bin/llc
bin/ruby
bin/ios/deploy
bin/ios/sim
bin/osx/sim

data/ios
data/osx

doc/.yardoc
doc/*.html
doc/docset

api

lib/motion/version.rb

pkg/*.pkg

rubymotion-head.tgz

sample/*/build
sample/*/.repl_history

test/test/vendor/code/build-iPhoneSimulator/
test/test/vendor/code/code.bridgesupport

RubyMotion.docset/
