*.sw[ponm]
.DS_Store

s3config.yaml

bin/llc
bin/ruby
bin/nfd
bin/ios/deploy
bin/ios/sim
bin/osx/sim
bin/instruments
bin/**/*.dSYM

data/android
data/ios
data/osx
data/UIAutomation

doc/.yardoc
doc/*.html
doc/docset

api

lib/motion/version.rb

pkg/*.pkg

rubymotion-head.tgz

sample/*/build
sample/*/.repl_history

test/test/vendor/code/build-iPhoneSimulator/
test/test/vendor/code/code.bridgesupport

test/bacon-ui/build
test/bacon-ui/resources/*.storyboardc

RubyMotion.docset/

static-analysis/
